<?xml version="1.0" encoding="UTF-8"?>
 
<configuration status="INFO">
 
    <Appenders>
        <!-- 콜솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n"/>
        </Console>
    </Appenders>
    
	<!-- Application Loggers -->
    <Loggers>
		<!-- 기본 레벨은 debug -->
		<Root level="INFO" additivity="false" >
		 	<AppenderRef ref="console" />
		</Root>
	  
	  
    	<Logger name="org.zerock" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework.test" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        
		<Logger name="jdbc.connection" level="WARN" additivity="false">
			<appender-ref ref="console"/> 
		</Logger>
		<Logger name="jdbc.audit" level="WARN" additivity="false"> 
			<appender-ref ref="console"/> 
		</Logger> 
		<Logger name="jdbc.resultset" level="WARN" additivity="false">
			<appender-ref ref="console"/> 
		</Logger>
		<Logger name="jdbc.sqlonly" level="WARN" additivity="false"> 
			<appender-ref ref="console"/> 
		</Logger>
		<Logger name="jdbc.resultsettable" level="INFO" additivity="false"> 
			<appender-ref ref="console"/> 
		</Logger> 
		<Logger name="jdbc.sqltiming" level="INFO" additivity="false">
			<appender-ref ref="console"/> 
		</Logger>
		<Logger name="com.zaxxer.hikari" level="WARN" additivity="false">
			<appender-ref ref="console"/> 
		</Logger>
	
    </Loggers>
    
</configuration>
